body {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}
//header
.main-header {
    margin-bottom: 4rem;
    margin-top: 3rem;

    @include mq(desktop) {
        margin-bottom: 0;
        margin-top: 4rem;
        display: grid;
        justify-items: center;
    }
}
.main-header__title {
    text-align: center;
}
.main-header__text {
    text-align: center;

    @include mq(desktop) {
        width: 500px;
    }
}
// main
.main-section {
    @include mq(desktop) {
        display: grid;
        grid-template-columns: repeat(3, 288px);
        grid-template-rows: repeat(3, 240px);
        gap: 1rem;
        justify-content: center;
        // align-content: center;
        height: 800px;
        // border: 2px solid black;
        margin-top: -4rem;
    }
}
.l-section {
    border-radius: .3rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    min-height: 240px;

    @include mq(tablet) {
        padding: 2.5rem;
    }

    @include mq(desktop) {
        padding: 1rem;
    }

    &:nth-child(1) {
        @include mq(desktop) {
            grid-row: 2 / 3;
        }
    }
    &:nth-child(2) {
        @include mq(desktop) {
            grid-row: 1;
            grid-column: 2 / 3;
            margin-top: 7.5rem;
        }
    }    
    &:nth-child(3) {
        @include mq(desktop) {
            grid-row: 3 / 4;
            grid-column: 2 / 3;
            margin-top: -7.5rem;
            height: 240px;
        }
    }
    &:nth-child(4) {
        @include mq(desktop) {
            grid-row: 2 / 3;
            grid-column: 3 / span 1;
        }
    }
}
.main-section__title {
    margin-bottom: 1rem;
}
.l-img{
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
}
.main-section__img {
    width: 50px;
    height: 50px;
}

