body {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}
//header
.main-header {
    margin-bottom: 4rem;
}
// main
.main-section {
    


}
.l-section {
    border-radius: .3rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    min-height: 240px;
}
.main-section__title {
    margin-bottom: 1rem;
}
.l-img{
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
}
.main-section__img {
    width: 50px;
    height: 50px;
}

