:root {
  --color-primary-red: hsl(0,78%,62%);
  --color-primary-cyan: hsl(180, 62%, 55%);
  --color-primary-orange: hsl(34,97%,64%);
  --color-primary-blue: hsl(212, 86%, 64%);
  --color-neutral-veryDarkBlue: hsl(234, 12%, 34%);
  --color-neutral-GrayishBlue: hsl(229, 6%, 66%);
  --color-neutral-veryLightGray: hsl(0, 0%, 98%);
  --color-background: hsl(240, 5%, 95%);
  --color-boxShadow: hsl(240, 100%, 95%); }

:root {
  --h1-font-size: 1.3rem;
  --body-font-size: .9rem;
  --small-font-size: .75rem; }

*, *::before, *::after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: var(--body-font-size); }

h1 {
  font-size: var(--h1-font-size); }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

body {
  margin-left: auto;
  margin-right: auto;
  width: 80vw; }

.main-header {
  margin-bottom: 4rem; }
  @media screen and (min-width: 1024px) {
    .main-header {
      margin-bottom: 0;
      margin-top: 4rem; } }

.main-header__title {
  text-align: center; }

.main-header__text {
  text-align: center; }

@media screen and (min-width: 1024px) {
  .main-section {
    display: grid;
    grid-template-columns: repeat(3, 288px);
    grid-template-rows: repeat(3, 240px);
    gap: 1rem;
    justify-content: center;
    height: 800px;
    margin-top: -4rem; } }

.l-section {
  border-radius: .3rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  min-height: 240px; }
  @media screen and (min-width: 1024px) {
    .l-section:nth-child(1) {
      grid-row: 2 / 3; } }
  @media screen and (min-width: 1024px) {
    .l-section:nth-child(2) {
      grid-row: 1;
      grid-column: 2 / 3;
      margin-top: 7.5rem; } }
  @media screen and (min-width: 1024px) {
    .l-section:nth-child(3) {
      grid-row: 3 / 4;
      grid-column: 2 / 3;
      margin-top: -7.5rem;
      height: 240px; } }
  @media screen and (min-width: 1024px) {
    .l-section:nth-child(4) {
      grid-row: 2 / 3;
      grid-column: 3 / span 1; } }

.main-section__title {
  margin-bottom: 1rem; }

.l-img {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem; }

.main-section__img {
  width: 50px;
  height: 50px; }

body {
  background-color: #f2f2f3; }

.main-header__title {
  color: var(--color-neutral-GrayishBlue); }

.main-header__title--dark-blue {
  color: var(--color-neutral-veryDarkBlue); }

.main-header__text {
  color: var(--color-neutral-GrayishBlue); }
  @media screen and (min-width: 1024px) {
    .main-header__text {
      font-size: var(--body-font-size); } }

.l-section {
  background-color: var(--color-neutral-veryLightGray);
  box-shadow: 0 10px 10px 0 var(--color-boxShadow); }

.l-section:nth-child(1) {
  border-top: 5px solid var(--color-primary-cyan); }

.l-section:nth-child(2) {
  border-top: 5px solid var(--color-primary-red); }

.l-section:nth-child(3) {
  border-top: 5px solid var(--color-primary-orange); }

.l-section:nth-child(4) {
  border-top: 5px solid var(--color-primary-blue); }

.main-section__title {
  color: var(--color-neutral-veryDarkBlue); }

.main-section__text {
  color: var(--color-neutral-GrayishBlue);
  font-size: var(--small-font-size); }
  @media screen and (min-width: 1024px) {
    .main-section__text {
      font-size: var(--body-font-size); } }
