// breakpoints
$breakpoints: (
    mobile: 375px,
    desktop: 1024px
);
// colors
$colors: (
    // primary
    red: hsl(0,78%,62%),
    cyan: hsl(180, 62%, 55%),
    orange: hsl(34,97%,64%),
    blue: hsl(212, 86%, 64%),
    // neutral
    Very Dark Blue: hsl(234, 12%, 34%),
    Grayish Blue: hsl(229, 6%, 66%),
    Very Light Gray: hsl(0, 0%, 98%)
);
// typography
$typography: (
    font-size: 15px
);